<div class="dash-wrapper">
  <aside class="sidebar">
    <div class="sidebar-logo">
      <img src="/img/logo.png" alt="MoneyMate Logo" />
      <span>MoneyMate</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/dash"><i class="fa-solid fa-border-all"></i> Dashboard</a>
      </li>
      <li>
        <a href="/expenses"><i class="fa-solid fa-wallet"></i> Expenses</a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-piggy-bank"></i> Budgets</a>
      </li>
      <li>
        <a href="/insights"><i class="fa-solid fa-lightbulb"></i> Insights</a>
      </li>
      <li>
        <a href="/goals"><i class="fa-solid fa-bullseye"></i> Goals</a>
      </li>
    </ul>
    <div class="logout-btn">
      <a href="/logout"
        ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
      >
    </div>
  </aside>
</div>
